@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper > div:nth-child(1) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(2) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(3) {
    flex-basis: 26%;
}

.slick-dots {
    position: static !important;  /* removes absolute positioning */
    bottom: auto !important;      /* resets bottom offset */
              /* optional: add spacing instead */
  }
  .slick-slide {
    padding: 0 9px; /* adjust spacing */
  }
  .account-bg-image {
    background-image: url(../public/images/account-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;
  }
  .slick-list {
    padding-bottom: 22px !important;
  }

  .css-abfpao-JoyLinearProgress-root::before {
    background-color: white !important;
  }