@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper > div:nth-child(1) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(2) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(3) {
    flex-basis: 26%;
}