@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper > div:nth-child(1) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(2) {
    flex-basis: 26%;
}
.wrapper > div:nth-child(3) {
    flex-basis: 26%;
}

.slick-dots {
    position: static !important;  /* removes absolute positioning */
    bottom: auto !important;      /* resets bottom offset */
              /* optional: add spacing instead */
  }
  .slick-slide {
    padding: 0 9px; /* adjust spacing */
  }
  .account-bg-image {
    background-image: url(../public/images/account-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 260px;
  }
  .slick-list {
    padding-bottom: 22px !important;
  }

  .css-abfpao-JoyLinearProgress-root::before {
    background-color: white !important;
  }



  .grid-custom {
    display: grid;
    grid-template-rows: 40px 130px 30px;
  }
  .grid-custom2 {
    display: grid;
    grid-template-rows: 100px 330px;
  }
  .grid-custom3 {
    display: grid;
    grid-template-rows: 50px 400px;
  }
  .grid-custom4 {
    display: grid;
    grid-template-rows: 50px 510px;
  }
  .css-10d30g3-MuiPaper-root-MuiDialog-paper {
    width: 800px !important;
  }
  .css-fmeqll-MuiAvatar-root {
    width: 50px !important;
    height: 50px !important;
  }